body,
html {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.hero {
  align-items: center;
  color: black;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./images/codytrees.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./images/kidhero.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./images/midhero.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero3 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./images/oldhero.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-images {
  padding-top: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  font-size: 3rem;
}

.hero-image {
  display: flex;
  text-align: center;
  top: 40%;
  left: 15%;
  height: 20rem;
  border-radius: 50%;
}

.title {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-weight: 300;
  font-size: 5rem;
}

.kid-title {
  top: 110%;
}

.mid-title {
  top: 200%;
}

.old-title {
  top: 305%;
}

.text {
  text-align: left;
  position: absolute;
  top: 130%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 2rem;
  width: 20rem;
}

.mid-text {
  text-align: right;
  left: 70%;
  top: 220%;
}

.old-text {
  top: 320%;
}

.list {
  text-align: left;
  position: absolute;
  top: 155%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 1.2rem;
  width: 15rem;
  margin: 0;
}

.mid-list {
  top: 240%;
  left: 75%;
}

.old-list {
  top: 340%;
}

.divider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  font-size: 1.7rem;
  color: #fff;
}

.divider1 {
  bottom: auto;
  top: 105rem;
}

.divider2 {
  bottom: auto;
  top: 160rem;
}

.divider-line {
  height: 2px;
  background-color: #fff;
  width: 30%;
}

.letter {
  display: inline-flex;
}

li {
  margin-bottom: 1rem;
}
